html
{
    overflow-y:scroll;
}


body
{
	margin: 0px;
	font-size: 16px;
	font-family: trebuchet ms;
	ccolor: #333;
	background-color: #050505 !important;
	overflow-y: hidden;
}

input, textarea
{
	font-family: Segoe UI, Verdana,Arial,sans-serif;
	font-size: 18px;
	outline: 0px;
}

b
{
	color: red;
}




#head
{
	position: fixed;
	height: 53px;
	padding: 9px 0px 12px 0px;
	width: 100%;
	background: linear-gradient(to bottom, rgba(0,0,0,0.9) 0%,rgba(0,0,0,0.7) 100%);
	/* box-shadow: 0px 2px 3px #EEE; */
	/* border-bottom: 1px solid #CCC; */
	z-index: 10000;
	/* background-color: #333; */
}

#head #logo
{
	bbackground-image: url(images/logo3.png);
	background-size: 83%;
	height: 57px;
	width: 90px;
	position: absolute;
	top: 9px;
	left: 23px;
	background-repeat: no-repeat;
	/* display: none; */
}

#head #logoshadow
{
    position: absolute;
    width: 290px;
    height: 144px;
    background: radial-gradient(ellipse at center, rgba(250,250,250,0.2) 0%, rgba(0,0,0,0) 50%);
    top: -58px;
    left: -76px;
}

#search
{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	position: relative;
}

#search .button
{
	position: absolute;
	right: -7px;
	top: 10px;
}

#search .search
{
	right: 22px;
}


#searchInput
{
	width: 100%;
	padding: 10px 6px 1px 10px;
	height: 28px;
	float:left;
	font-size:18px;
	border: 1px solid rgba(255,255,255,0.3);*/;
	color: #eeeeee;
	background: rgba(130,130,130,0.6);
}

.searchInput
{
	background-color: rgba(130,130,130,0.6);
	/* border: 1px solid #999; */
	padding: 6px 8px 7px 10px;
	/* border-radius: 4px 4px 0px 0px; */
	height: 36px;
	font-size: 18px;
	margin: 0px 0px 0px 0px;
	/* width: 100%; */
	/* border-left: 32px solid #DDD; */
	outline: 0px;
	color: #EEE;
	border: 1px solid rgba(0,0,0,1);
	color: #eeeeee;
	background: rgba(0,0,0,0.8);
}

.inlineSearchInput
{
	height: 17px;
	font-size: 13px;
	width: 157px;
	padding: 1px 2px 0px 6px;
	border: 0px;
	margin: -1px 0px 0px 1px;
}

#search .input
{
	margin-top: 0px;
}

.input
{
	margin-top: 10px;
}

#search .searchButton
{
	margin: 12px 0px 0px -32px;
	background-image: url(https://www.facebook.com/rsrc.php/v2/yR/r/Ta1klT5AM7h.png);
	background-position: -223px -141px;
}

.searchButton
{
	margin: 8px 0px 0px -32px;
	background-image: url(images/plus.png);
	background-repeat: no-repeat;
	background-size: auto;
	
	height: 15px;
	width: 22px;

	background-color: transparent;
	outline: 0px;
	border: 0px;
	display: inline-block;
}

#body
{
	padding: 10px;
	/* height: 100%; */
}


div.postButton
{
	background-color: blue;
	width: 90px;
	margin-top: 10px;
	
	padding: 5px 10px;
	
	text-align: center;
	border:1px solid #EEE;
	border-radius: 5px;
	
	background: linear-gradient(to bottom, 
		rgba(60, 120, 255, .9), 
		rgba(30, 90, 240, .7));;

	color: white;
	
	font-size: 13px;
	line-height: 16px;
}

div#welcomeKeyText
{

}

.non-display-root-reference
{
	display: none !important;
}


