
.menu .options 	{ background-image: url('menu/options.png'); }
.menu .language 	{ background-image: url('menu/language.png'); }
.menu .volume_0 	{ background-image: url('menu/volume0.png'); }
.menu .volume_1 	{ background-image: url('menu/volume1.png'); }
.menu .volume_2 	{ background-image: url('menu/volume2.png'); }
.menu .volume_3 	{ background-image: url('menu/volume3.png'); }
.menu .play,
.menu .play_next{ background-image: url('menu/play.png'); }
.menu .download	{ background-image: url('menu/download.png'); }
.menu .half		{ background-image: url('menu/half.png'); }
.menu .full		{ background-image: url('menu/full.png'); }

.menu .good		{ background-image: url('menu/good.png'); }
.menu .bad		{ background-image: url('menu/bad.png'); }

.menu .large_play		{ background-image: url('menu/large_play.png'); }
.1menu .large_play:hover	{ background-image: url('menu/large_play_red.png'); }
.menu .large_loading	{
	background-image: url('menu/loading.gif');
	background-size: 30% !important;
	width: 100% !important;
	height: 100% !important;
	margin-top: 0 !important;
	background-color: black;
	}

.menu .large_loading:hover {
    transform: none;
}
.menu .large_down		{ background-image: url('menu/large_down.png'); }

.menu .pause	{ background-image: url('menu/pause.png'); }

.menu .more	{ background-image: url('menu/plus.png'); }

#search .more	{ background-image: url('menu/plus.png'); }
#search .search	{ background-image: url('menu/search	.png'); }

.root_stream .menu
{
	z-index: 1;
}

.cards
{
	color: white;
	font-size: 13px;
	font-family: trebuchet ms;
	/* border: 1px solid #333; */
	/* height: 100%; */
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}

.navItems .cards
{
	/* height: initial; */
	/* margin: 0px !important; */
}

.menu .bottom,
.menu .right
.menu .primary_action
{
	 -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}


#search .button, .button, .menu .progress_bar, .menu .volume_bar
{
	cursor: pointer;
}

.menu > div
{
	visibility: hidden;
}

.firstpic_container:hover .menu > div 
{
	visibility: visible;
}

.visible
{
	visibility: visible !important;
	display: block !important;
}


#search .button
{
	opacity: 0.6;
}

#search .button:hover, .button:hover
{
	oopacity:1;
}

.firstpic_container
{
	position: relative;
}

.menu *
{
	background-position: 50% 50%;
	background-repeat: no-repeat;
	/* display: inline-block; */
	/* height: 100%; */
}

.menu
{
	width: 100%;
	height: 100%;
	position: absolute;
	/* background-color: rgba(255,0,0,.5); */
	/* text-shadow: 0px 0px 10px rgba(0,0,0,.8); */
	float: right;
	/* right: 0px; */
}


.cards .top
{
	/* padding: 8px 0px; */
	text-shadow: 0px 0px 10px rgba(0,0,0,.8);
	font-size: 1.5em;
	opacity: 1;
	/* color: #000; */
	/* background: white; */
	/* position: absolute; */
	/* z-index: 100000; */
	/* left: -17px; */
	width: 100%;
	/* right: 0px; */
	/* margin-right: 10px; */
	overflow: hidden;
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 34px;
	background-position-y: -14px;
	border: 0px !important;
	text-align: center;
	background-image: url("images/down.svg");
	height: 100%;
	/* vertical-align: middle; */
	padding: 16px 0px;
}

.subresults .cards .top
{
	font-size: 1.2em;
}

.subparentresults .cards .top
{
	font-size: 1em;
}

.card_triangle
{
	
width: 8px;
	
height: 8px;
	
position: absolute;
	
z-index: 1;
	
top: -8px;
	
left: -8px;
	
background: url('menu/triangle.png');
	
display: none;
}

.card_title
{
	height: 22%;
	width: 100%;
	/* background: #0c0c0c; */
	position: absolute;
	bottom: 0px;
}




.menu .bottom
{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	/* height: 46px; */
	background-color: rgba(0,0,0,0.7);
	/* padding: 20px; */
	/* width: 100%; */
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.8)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.menu .bottom > div
{
	display: flex;
}

.menu .bottom .buttons
{
	background-color: #000;
	padding: 10px 10px;
	/* margin-bottom: -7px; */
	opacity: 0.8;
}

.menu .bottom .timeline > div
{
	display: flex;
}

.menu .bottom  .lasting_time
{
	margin: 0px 3px 0px 10px !important;
	text-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.menu .bottom .timeline .progress_bar
{
	width: 100%;
	height: 28px;
	bbackground-color: red;
	/* margin: 6px 9px; */
	position: relative;
}

.menu .bottom .timeline .progress_bar span
{
	display: inline-block;
	height: 8px;
	width: 30px;
	margin-top: 4px;
	padding: 0px;
	border: 0px;
}

.menu .bottom .timeline .progress_bar .progress_bar_played
{
	background-color: red;
	width: 0%;
	/* float: right; */
	z-index: 2;
}

.menu .bottom .timeline .progress_bar .progress_bar_loaded
{
	background-color: #666;
	width: 5px;
	/* opacity: .5; */
	/* position: absolute; */
	z-index: 2;
}

.menu .bottom .timeline .progress_bar .progress_bar_toplay
{
	background-color: #DDD;
	width: 100%;
	position: absolute;
	right: 0px;
	z-index: 1;
}

.menu .bottom .buttons .right_buttons,
.menu .bottom .buttons .left_buttons
{
	flex: 1;
}

.menu .bottom .buttons .left_buttons > div
{
	margin: 0px 4px;
	display: inline-block;
}

.menu .bottom .buttons .right_buttons > div
{
	margin: 0px 4px;
	display: inline-block;
	float: right;
}

.menu .flipH
{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.menu .left_buttons,
.menu .right_buttons,
#search .button,
.menu .button
{
	display: inline-block;
	width: 22px;
	height: 22px;
	background-size: 100%;
}

.menu .primary_action .button
{
	width: 35%;
	height 96px;
	height: 35%;
	margin-top: 17%;
	background-size: 50%;
}


.menu .right
{
	position: absolute;
	right: 0px;
	width: 21px;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px;
	border-radius: 0px 0px  0px 16px;
	top: 0px;
	/* display: none; */
	height: 70px;
}

.button:hover
{
	transform: scale(1.3);
	transition: transform 400ms cubic-bezier(0.5, 0, 0.1, 1) 0ms;
}

.menu .right .bad,
.menu .right .full
{
	margin-bottom: 10px;
}


.menu .bottom .volume_container
{
	display: inline-block;
}

.menu .bottom .volume_container:hover .inline_volume_bar,
.menu .bottom .inline_volume_bar :hover
{
	visibility: visible;
}


.menu .bottom .volume_bar
{
	width: 60px;
	margin: 7px 10px 7px 10px;
	display: flex;
}

.menu .bottom .inline_volume_bar
{
	display: inline-block;
	margin: 4px 4px;
	/* height: 22px; */
	/* top: 0px; */
	position: absolute;
	visibility: hidden;
}


.menu .bottom .volume_bar span
{
	display: inline-block;
	height: 3px;
	/* width: 30px; */
	/* margin-top: -11px; */
	/* padding: 0px; */
	/* border: 0px; */
}

.menu .bottom .volume_bar .volume_bar_left
{
	background-color: red;
	width: 90%;
}

.menu .bottom .volume_bar .volume_bar_current
{
	background-color: #999;
	width: 5px;
	height: 14px;
	margin-top: -5px;
}

.menu .bottom .volume_bar .volume_bar_right
{
	background-color: #DDD;
	width: 0%;
}

.menu .bottom .buttons .button.language .language_options
{
    position: absolute;
    /* width: 300px; */
    /* height: 150px; */
    background-color: black;
    /* margin-top: -100px; */
    /* opacity: .91; */
    display: none;
    bottom: 62px;
    right: 20px;
}

.menu .bottom .buttons .button.language .language_options div
{
    padding: 5px;
    display: block;
}

.menu .bottom .buttons .button.language .language_options .language_options_item
{
	padding: 10px 50px;
	display: block;
}

.menu .bottom .buttons .button.language .language_options > DIV
{
	display: inline-block;
}

.menu .bottom .buttons .button.language .language_options_title
{
	display: inline-block;
}


video::-webkit-media-text-track-display {
    margin-top: -40px;
}
