#searchResults, .navItems
{
	margin-top: 68px;
	/* width: 100%; */
	/* margin-left: 5%; */
	/* height: 100%; */
	padding: 30px;
	white-space: nowrap;
	overflow: hidden;
	/* height: 100%; */
}

.navItems
{
	margin: 20px 0px 0px 0px;
	background: #202020;
	padding: 0px;
	/* height: 370px; */
	display: none;
	position: absolute;
	/* width: 100%; */
	z-index: 1;
	left: 40px;
	right: 40px;
}

.layout .layout
{
	/* width: 150em; */
	/* height: 50px; */
	/* min-height: auto; */
}

#searchResults:after, .navItems:after {
   ccontent: '';
   display: block;
   clear: both;
   position: relative;
}

@media (max-width: 76em) {

	.navitens-layout-ratio,
	.navItems > .layout > .cards > .clip > .content  > .firstpic_container,
	.left-side-nav
	{
		width: 100% !important;
	}

	.firstpic_container
	{
		float: none !important;
		height: initial !important;
	}

	.navItems > .layout > .cards > .clip
	{
		overflow: visible !important;
		position: static;
	}

	.navItems > .layout > .cards > .card_title
 	{
 		position: block !important;
 	}


}


.layout 
{
	display: inline-block;
	outline: none;
	margin-bottom: 20px;
}

  .layout
  {
  	position: relative;
  }

  .layout,
  .cards
  {
  	  	transition: transform 400ms cubic-bezier(0.5, 0, 0.1, 1) 0ms;
  }


.layout {	transform-origin: 50% 50%; }


@media screen and (max-width: 38em){
 .layout 	   {		  	width: 100%;  }
 .layout_scale {			transform: scale(1.15); }
 .layout_right { 			transform: translateX(10%); }
 .layout_left  { 			transform: translateX(-10%); }
}

@media screen and (min-width: 38em) and (max-width: 57em) {
  .layout 	   {		  	width: 50%;  }
  .layout:nth-child(4n+1) { 	transform-origin: 0 50%; }
  .layout:nth-child(4n-1) {	transform-origin: 100% 50%; }
  .layout_scale {			transform: scale(1.19); }
  .layout_right { 			transform: translateX(19%); }
  .layout_left  { 			transform: translateX(-19%); }
}

@media screen and (min-width: 57em) and (max-width: 76em) {
 .layout {   width: 33.33%;  }
 .layout:nth-child(6n+1) { 	transform-origin: 0 50%; }
 .layout:nth-child(6n-1) {	transform-origin: 100% 50%; }
 .layout_scale {	transform: scale(1.2); }
 .layout_right { transform: translateX(10%); }
 .layout_left  { transform: translateX(-10%); }
 .double_layout_right { transform: translateX(20%); }
 .double_layout_left  { transform: translateX(-20%); }
}

@media screen and (min-width: 76em) and (max-width: 95em) {
 .layout {   width: 25%;  }
 .layout:nth-child(8n+1) { 	transform-origin: 0 50%; }
 .layout:nth-child(8n-1) {	transform-origin: 100% 50%; }  
 .layout_scale {	transform: scale(1.215); }
 .layout_right { transform: translateX(10.3%); }
 .layout_left  { transform: translateX(-10.3%); } 
 .double_layout_right { transform: translateX(20.6%); }
 .double_layout_left  { transform: translateX(-20.6%); }  
}

@media screen and (min-width: 95em) and (max-width: 114em) {
.layout  {    width: 20%;  }
.layout:nth-child(10n+1) { 	transform-origin: 0 50%; }
 .layout:nth-child(10n-1) {	transform-origin: 100% 50%; }  
 .layout_scale {	transform: scale(1.22); }
 .layout_right { transform: translateX(11%); }
 .layout_left  { transform: translateX(-11%); }  
 .double_layout_right { transform: translateX(22%); }
 .double_layout_left  { transform: translateX(-22%); }   
}

@media screen and (min-width: 114em) and (max-width: 133em) {
  .layout  {    width: 16%;  }
.layout:nth-child(12n+1) { 	transform-origin: 0 50%; }
 .layout:nth-child(12n-1) {	transform-origin: 100% 50%; }    
 .layout_scale { transform: scale(1.25); }
 .layout_right { transform: translateX(12.5%); }
 .layout_left  { transform: translateX(-12.5%); }  
.double_layout_right { transform: translateX(25%); }
 .double_layout_left  { transform: translateX(-25%); }    
}

@media screen and (min-width: 133em)  {
  .layout  {    width: 17%;  }
  .layout:nth-child(14n+1) { 	transform-origin: 0 50%; }
 .layout:nth-child(14n-1) {	transform-origin: 100% 50%; }    
 .layout_scale {	transform: scale(1.3); }
 .layout_right { transform: translateX(15%); }
 .layout_left  { transform: translateX(-15%); }  
.double_layout_right { transform: translateX(30%); }
 .double_layout_left  { transform: translateX(-30%); }     
}


.subResults > .layout > .cards
{
	/* margin-right: 10px; */
}

.layout_hide
{
	transform: scaleX(0);
}

.marker * .firstpic
{
	max-width: 32px;
	margin-right: 11px;
	margin-bottom: 5px;
	max-height: 32px;
	float: left;
}

.navitens-layout-ratio
{
	display: none;
	width: 50%;
}

.navItems > .layout > .navitens-layout-ratio
{
	display: block;
}
.navItems > .layout > .layout-ratio
{
	display: none;
}

.searchResults > div.layout > div.cards, .navItems * div.cards
{
	/* padding: 8px 8px 48px 8px; */
	/* background-color: #FFFFFF; */
	margin: 0px 3px 0px 0px;
	font-family: trebuchet ms, Verdana,Arial,sans-serif;
	position: absolute;
	/* border-radius: .3em; */
}

.rootitem > div
{
}

.parents .rootitem > div
{
	display: inline-block;
	width: auto;
	height: auto;
}



.rootitem .firstpic_container,
.rootitem .menu,
.root_post .text,
.root_post .parents,
.root_post .thumb_text,
.root_tile .text,
.root_tile .parents,
.root_tile .thumb_text

{
	display: block;
}

 .clip
{
	overflow: hidden;
	/* z-index: 10; */
	height: 78%;
	/* outline: 2px solid; */
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.navItems .clip
{
	/* height: 8em; */
}

.subparentresults  .layout > .cards > .clip
{
	height: 100%;
	/* display: none; */
}

.navItems > .layout > .cards > .clip
{
	overflow: hidden;
	z-index: 10;
	height: 100%;
	/* background: #111; */
}

.root_post .firstpic,
.root_tile .firstpic
{
	 width: 33%;
	 float: right; 
	 margin: 10px !important;
}

.layout .firstpic
{
	/* border-radius: .3em .3em 0 0; */
}

#searchResults > .layout .menu > .bottom,
.subResults > .layout > .cards > .clip > .content  > .firstpic_container > .menu > .bottom

{
	visibility: hidden;
}

.navItems > .layout > .cards > .clip > .content  > .firstpic_container > .menu > .primary_action,
.navItems > .layout > .cards > .clip > .content  > .firstpic_container > .menu > .right
{
	visibility: visible !important;
}

.navItems > .layout > .cards > .clip > .content  > .firstpic_container > .menu .primary_action .button
{
	width: 196px;
	height 196px;
	/* height: 96px; */
	/* margin-top: 0px; */
	/* padding-top: 303px; */
	/* margin-left: 50%; */
}

.navItems > .layout > .cards > .card_title
{
	position: static !important;
}

.navItems > .layout > .cards > .card_title
{
	
top: 0px;
	
position: absolute;
}

.firstpic_container
{
	height: 100%;
	float: right;
	width: 100%;
}


.navItems > .layout > .cards > .clip > .content  > .firstpic_container
{
	width: 50%;
}

.navItems > .layout > .cards > .card_title  > .top
{
	background: initial!important;
	border: 0px !important;
	font-size: 1.8em;
	text-align: left;
	/* vertical-align: middle; */
	padding: 10px 10px;
} 

.firstpic
{
	width: 100%;
	z-index: 10000000000;
	height: auto;
	background-color: rgba(32, 32, 32, 1) !important;
	/* border: 1px solid #000; */
	border-bottom: 8px;
	/* height: 100%; */
}


.text
{
	color: white;
	z-index: 1000;
	text-align: justify;
	line-height: 160%;
}

.navItems > .layout > .cards > .clip > .content > .text
{
	display: block;
	width: 50%;
}

.root_stream .text
{
	padding: 10px;
	/* position: absolute; */
	top: 40px;
}

.root_post .firstpic_container_container
.root_tile .firstpic_container_container
{
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
	padding-top: 70px;
}

.thumb_text
{
	color: white;
	/* padding: 0px 8px; */
	/* height: 100%; */
	/* vertical-align: middle; */
}

.text:empty
{
	/* display: none; */
}

.firstauthor, .firstdate
{
	display: inline-block;
	display: none;
}

.sub
{
	visibility: hidden;
	position: absolute;
	padding: 60px;
	border: 1px solid #DDD;
	background-color: white;
	box-shadow: #CCC 4px 4px 10px 1px;
	display: none;
}

.mono {
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
}

.mono div
{
	padding-left:10px;
}

.subinput, .subinput textarea
{
	/* width: 100%; */
}

.subSearch
{
	border: 1px solid #DDD;
	border-top:0px;
	/* width: 100%; */
	background-color: white;
	overflow-y: auto;
	/* padding: 20px; */
	display: none;
	max-height: 120px;
	position: absolute;
	max-width: 350px;
	margin-top: -2px;
}

.listitem * img
{
	max-width: 38px;
	margin-right: 10px;
	float: left;
}

.listitem .firstdate, .listitem .firstauthor 
{
	display: inline-block;
}

.listitem
{
	border-bottom: 1px solid #eee;
	/* clear: both; */
	padding: 10px;
	cursor: pointer;
	margin-bottom: 0px;
	width: 200px;
	display: inline-block;
}

.listitem:hover1
{
	background-color:#EEE;
}


.subitem
{
	width:50%;
	min-width: 200px;
	float: left;
}

.cards
{
	/* box-shadow: rgba(0,0,0,.5) 0px 0px 4px; */
}


#cloneResults > .layout > .cards > .clip > .subitems,
#cloneResults > .layout > .cards > .clip > .subitems_buttons_placeholder
{
	margin-bottom: 100px;
}


#cloneResults > .layout > .cards > .clip > .subparentitems
{
	margin-bottom: 150px;
}



.subinput .buttons
{
	/* padding: 10px 0px 0px 0px; */
	/* height: 40px; */
	/* display: none; */
	/* position: absolute; */
	/* right: 10px; */
	margin: -40px 10px 0px 0px;
	float: right;
}

.subinput .buttons input
{
	/* float: right; */
	height: 29px;
}

.subinput
{
	margin: 1px 0px 0px 0px;
	/* background-color: rgba(0,0,0,0.9); */
	padding: 10px 0px;
	/* height: 87px; */
}

.textarea_padding
{
	padding: -10px 60px 10px 10px;
}

#render_master_stream, #render_master_post, #render_children, #render_list, #render_parents, #render_master_tile, #render_text
{
	display: none !important;
}

.marker_parent
{
	height: 16px;
    
	display: inline-block;
    margin: 0px;
    padding: 0px;
    
	position: relative;
	width: 160px;
}

.marker
{
	position: absolute;
    width: 100%;
	height: 18px;
	margin-top: 0px;
	
	background-color: #EEE;
	border-radius: 3px;
	font-size:  0.8em !important;
}

.marker_ready
{
	overflow: hidden;
	border: 1px solid #DDD;
}

.marker_ready:hover
{
	height: 60px;
}

.marker .text
{
	padding: 0px;
	background-color: initial;
}

.menu .parents
{
	font-size: 12px;
}

.parents > .cards
{
	min-height: initial !important;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}
.parents > .cards > .clip
{
	max-height: initial; 
}

.parents > div
{
}
.parents
{
	/* display: inline-block; */
}

.parents * img
{
	height: 28px;
	/* float: left; */
	margin-top: 2px;
	/* border-radius: 4px; */
	display: none;
}

.parents *
{
	display: inline-block;
}

.parents * .parents_thumb_text
{
	padding: 3px 5px;
	cursor: pointer;
}

.parents * .alternate
{
	padding: 3px 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	cursor: pointer;
}

.subresults * .subresults,
.subresults * .subparentresults,
.subresults_buttons_placeholder,
{
    display: none;
}

.subresults, 
.subresults_buttons_placeholder
{
	font-size: 1em;
	width: 150%;
	overflow-x: hidden;
	overflow-y: hidden;
	white-space: nowrap;
	/* padding-bottom: 50px; */
	display: none;
	/* background-color: #0c0c0c; */
	/* margin: 10px; */
	/* padding: 6px 0px 6px 0px; */
	/* left: 10px; */
	/* right: 10px; */
}

.subparentresults
{
	font-size: 1em;
	/* position: absolute; */
	overflow-x: hidden;
	/* overflow-y: hidden; */
	white-space: nowrap;
	/* padding-bottom: 50px; */
	display: none;
	background-color: #0c0c0c;
	/* margin: 10px; */
	/* padding: 6px 0px 6px 0px; */
	left: 10px;
	right: 10px;
}


.subparentresults, 
.subparentresults_buttons 
{
	/* height: 26px; */
	/* bottom: 221px; */
	width: 20%;
	min-width: 80px;
	/* z-index: 100000; */
	padding: 6px;
	color: white;
	padding: 10px !important;
	margin: 10px !important;
}

.subresults_buttons_placeholder
{
	width: 22px;
	position: absolute;
}

.subresults_buttons_placeholder,
.subresults, 
.subresults_buttons 
{
	/* bottom: 10px; */
	/* height: 162px; */
}

.subparentresults
{
	margin: 0px 10px;
}
.subresults,
.subparentresults
{
	padding: 26px 6px;
}
.carousel > .subresults
{
	position:absolute;
	/* bottom: 0px; */
}

.subparentresults option
{
	padding: 10px;
	height: 32px;
}

audio
{
	display: none !important;
}

.navItems > .layout
{
	width: 100%;
	position: relative; 0px
	/* display:none; */
	height:;
	/* height: 512px; */
	margin-bottom: 0px;
}

.navItems .firstpic
{
	/* width: 100%; */
	/* float: right; */
	/* height: 100%; */
	/* width: initial; */
}

.subresults .firstpic_overdraw
{
	display: none;
}

.navItems .firstpic_overdraw
{
	width: 50%;
	height: 100%;
	position: absolute;
	background: linear-gradient(to right, rgba(32,32,32,1) 0%,rgba(32,32,32,0.99) 1%,rgba(0,0,0,0) 100%);
}

.navItems .subresults .cards,
.navItems .subparentresults .cards
{
	/* border: 0px; */
	/* padding: 0px 20px 0px 10px; */
	/* height: 100%; */
}



.navItems > .layout > .cards > .card_title > .card_triangle
{
	display: none;
}

.navItems .subresults .layout
{
	/* display: inline-block; */
	/* position: relative; */
	/* height: 90px !important; */
}

.navItems > .layout > .cards > .clip > .content > .left-side-nav
{
	/* margin-top:60px; */
	display: block;
	height: 100%;
}

.left-side-nav
{
	width: 50%;
	position: relative;
	ve; */
	height: 100%;
	/* padding: 10px; */
	/* overflow: hidden; */
	padding-right: -1px;
	/* height: 100%; */
	/* background: red; */
	float: left;
	display: none;
}

.left-side-nav-tracks
{
	width: 100%;
	/* height: 100%; */
	padding: 0px 0px 0px 0px;
	/* position: relative; */
	/* overflow: hidden; */
	position: absolute;
	width: 100%;
	height: auto;
	bottom: 10px;
	/* left: 10px; */
}

.navItems > .layout > .cards > .clip > .content > .left-side-nav > .left-side-nav-tracks > .carousel 
{
	display: block;
}



.layout-ratio
{
	width: 100%;
 	display: block;      
 	position: relative;
}