#searchResults, .navItems
{
	margin-top: 68px;
	width: 100%;
	/* margin-left: 5%; */
	/* height: 100%; */
}

.navItems
{
	background: black;
	position: relative;
	/* z-index: -1000; */
	/* left: 0px; */
	/* right: 0px; */
	/* bottom: 0px; */
	/* display: none; */
	height: auto;
	margin-top: 0px;
	/* padding: 10px; */
	width: initial;
	height: 0px;
	margin: 10px 8px 10px 10px;
}

.layout .layout
{
	width: 100%;
	height: 50px;
	min-height: auto;
}

#searchResults:after, .navItems:after {
   ccontent: '';
   display: block;
   clear: both;
   position: relative;
}



.layout 
{
	display: inline-block;
}

@media screen and (min-width: 14em) and (max-width: 48em){
  .layout-sizer,
  .layout
  {
    width: 100%;
  }
}

@media screen and (min-width: 38em) and (max-width: 52em) {
	.layout-sizer,
  .layout
  {
    width: 50%;
  }
}

@media screen and (min-width: 52em) and (max-width: 66em) {
	.layout-sizer,
  .layout
  {
    width: 33.3%;
  }
}

@media screen and (min-width: 66em) and (max-width: 82em) {
	.layout-sizer,
  .layout
  {
    width: 25%;
  }
}

@media screen and (min-width: 82em) {
	.layout-sizer,
  .layout
  {
    width: 20%;
    height: 180px;
  }
}

.layout-sizer
{
	position: absolute;
}

.subResults > .layout > .cards
{
	height: initial !important;
	min-height: initial !important;
	margin-right: 10px;
	font-family: trebuchet ms, Verdana,Arial,sans-serif;
	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px !important;
	background-color: rgba(0, 0, 0, 0.9) !important;
	color: white;
	padding: 10px;
	margin: 1px 0px 0px 0px;
}

.layout * .layout * .firstpic, .marker * .firstpic
{
	max-width: 32px;
	margin-right: 11px;
	margin-bottom: 5px;
	max-height: 32px;
	float: left;
}



.searchResults > div.layout > div.cards, .navItems > div.layout > div.cards
{
	/* padding: 8px 8px 48px 8px; */
	/* background-color: #FFFFFF; */
	margin: 8px;
	font-family: trebuchet ms, Verdana,Arial,sans-serif;
	position: relative;
	/* border-radius: .3em; */
}

.rootitem > div
{
	/* display: none; */
}

.parents .rootitem > div
{
	display: inline-block;
	width: auto;
	height: auto;
}



.rootitem .firstpic_container,
.rootitem .menu,
.root_post .text,
.root_post .parents,
.root_post .thumb_text,
.root_tile .text,
.root_tile .parents,
.root_tile .thumb_text

{
	display: block;
}

.subresults
{
	font-size: 0.8em;
	/* padding: 0px 0px 0px 10px; */
	/* background-color: inherit; */
	/* margin-top: 1px; */
	float: left;
	display: block;
	height: 100%;
	width: 50%;
	padding-top: 50px;
}

 #searchResults * .clip
{
	overflow: hidden;
	z-index: 10;
	height: 130px;
}

.navItems * .clip
{
	overflow: hidden;
	z-index: 10;
	height: 450px !important;
}

.root_post .firstpic,
.root_tile .firstpic
{
	 width: 33%;
	 float: right; 
	 margin: 10px !important;
}

.layout .firstpic
{
	border-radius: .3em .3em 0 0;
}

#searchResults .layout .menu > .bottom
{
	visibility: hidden;
}

.navItems .layout .menu > .bottom
{
	visibility: visible !important;
}

.firstpic_container
{
	width: 100%;
	/* max-width: 440px; */
	/* float: left; */
	/* margin-right: 15px; */
	/* margin-bottom: 10px; */
	/* position: absolute; */
	/* max-height: 90px; */
	height: 100%;
	float: right;
}

.navItems .firstpic_container
{
	width: 50%;
}

.firstpic
{
	width: 100%;
	z-index: 10;
	height: auto;
	background-color: rgba(0, 0, 0, 1) !important;
	/* border: 1px solid #000; */
	border-bottom: 8px;
	height: 100%;
}


.text
{
	color: white;
	z-index: 1000;
	text-align: justify;
	line-height: 160%;
}

.root_stream .text
{
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
}

.root_post .firstpic_container_container
.root_tile .firstpic_container_container
{
	background-color: rgba(0,0,0,0.9);
	padding: 10px;
	padding-top: 70px;
}

.thumb_text
{
	color: white;
	padding: 0px 20px;
}

.text:empty
{
	display: none;
}

.firstauthor, .firstdate
{
	display: inline-block;
	display: none;
}

.sub
{
	visibility: hidden;
	position: absolute;
	padding: 60px;
	border: 1px solid #DDD;
	background-color: white;
	box-shadow: #CCC 4px 4px 10px 1px;
	display: none;
}

.mono {
  white-space: pre;
  font-family: monospace;
  font-size: 14px;
}

.mono div
{
	padding-left:10px;
}

.subinput, .subinput textarea
{
	/* width: 100%; */
}

.subSearch
{
	border: 1px solid #DDD;
	border-top:0px;
	/* width: 100%; */
	background-color: white;
	overflow-y: auto;
	/* padding: 20px; */
	display: none;
	max-height: 120px;
	position: absolute;
	max-width: 350px;
	margin-top: -2px;
}

.listitem * img
{
	max-width: 38px;
	margin-right: 10px;
	float: left;
}

.listitem .firstdate, .listitem .firstauthor 
{
	display: inline-block;
}

.listitem
{
	border-bottom: 1px solid #eee;
	/* clear: both; */
	padding: 10px;
	cursor: pointer;
	margin-bottom: 0px;
	width: 40%;
	display: inline-block;
}

.listitem:hover1
{
	background-color:#EEE;
}


.subitem
{
	width:50%;
	min-width: 200px;
	float: left;
}

.cards
{
	/* box-shadow: rgba(0,0,0,.5) 0px 0px 4px; */
}


#cloneResults > .layout > .cards > .clip > .subitems
{
	margin-bottom: 100px;
}

.subinput .buttons
{
	/* padding: 10px 0px 0px 0px; */
	/* height: 40px; */
	/* display: none; */
	/* position: absolute; */
	/* right: 10px; */
	margin: -40px 10px 0px 0px;
	float: right;
}

.subinput .buttons input
{
	/* float: right; */
	height: 29px;
}

.subinput
{
	margin: 1px 0px 0px 0px;
	/* background-color: rgba(0,0,0,0.9); */
	padding: 10px 0px;
	/* height: 87px; */
}

.textarea_padding
{
	padding: -10px 60px 10px 10px;
}

#render_master_stream, #render_master_post, #render_children, #render_list, #render_parents, #render_master_tile, #render_text
{
	display: none !important;
}

.marker_parent
{
	height: 16px;
    
	display: inline-block;
    margin: 0px;
    padding: 0px;
    
	position: relative;
	width: 160px;
}

.marker
{
	position: absolute;
    width: 100%;
	height: 18px;
	margin-top: 0px;
	
	background-color: #EEE;
	border-radius: 3px;
	font-size:  0.8em !important;
}

.marker_ready
{
	overflow: hidden;
	border: 1px solid #DDD;
}

.marker_ready:hover
{
	height: 60px;
}

.marker .text
{
	padding: 0px;
	background-color: initial;
}

.menu .parents
{
	font-size: 12px;
}

.parents > .cards
{
	min-height: initial !important;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}
.parents > .cards > .clip
{
	max-height: initial; 
}

.parents > div
{
}
.parents
{
	/* display: inline-block; */
}

.parents * img
{
	height: 28px;
	/* float: left; */
	margin-top: 2px;
	/* border-radius: 4px; */
	display: none;
}

.parents *
{
	display: inline-block;
}

.parents * .parents_thumb_text
{
	padding: 3px 5px;
	cursor: pointer;
}

.parents * .alternate
{
	padding: 3px 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	cursor: pointer;
}


.subresults * .subresults {
    ddisplay: none;
}

audio
{
	display: none !important;
}

.navItems > .layout
{
	width: 100%;
	position: absolute; 0px
	/* display:none; */
}

.navItems .firstpic
{
	width: 100%;
	float: right;
	height: initial;
}

.navItems .cards
{
	border: 0px;
	padding: 0px 20px 0px 10px;
}

.navItems .top
{
	/* background: black !important; */
	border: 0px !important;
	font-size: 2em;
} 

.navItems .card_triangle
{
	display: none;
}
