<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
  <appSettings>
    <add key="p2pPort" value="46001"/>
    <add key="webPort" value="46005"/>
    <add key="p2pAddress" value="46001OJSbWAYqE6ccy0vwNvNQMWMQjlA7MuYi0iBAFE="/>
    <add key="graphVizLocation" value=""/>
  
    <add key="graphVizLocation" value="D:\bootstrap\graphviz-2.38\release\bin\" />
    <add key="ffmpeg:ExeLocation" value="D:\bootstrap\ffmpeg-latest-win32-static\bin\ffmpeg.exe" />
  </appSettings>
</configuration>
